* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #ffffff;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav {
  width: 100%;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
}

nav .navigation-logo {
  width: 155px;
  border-radius: 25px;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

nav ul li {
  padding: 0 10px;
  font-size: 22px;
}

nav ul li:last-child {
  padding-right: 0;
}

nav ul li {
  color: #000000;
  cursor: pointer;
}

nav ul li a .shopping-cart {
  max-width: 22px;
}

main {
  width: 100%;
  min-height: 100vh;
  /* background: url("resources/light-bg.jpg");
  background-size: cover;
  background-position: 50%; */
  background: #ffffff;
}

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 100px 20px;
  box-sizing: border-box;
}

/* card section */

#cards {
  /* background: url("resources/grey-spotted-bg.jpg"); */
  background: url("resources/grey-painted-bg.webp");
}

section .card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(255, 255, 255, 0.1);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  transition: 0.5s ease-in-out;
}

section .card:hover {
  /* background: rgb(255, 255, 255, 0.3); */
  box-shadow: 5px 5px 10px black;
  /* width: 350px; */
  height: 450px;
  /* transform: scale(1.15); */
}

section .card .imgBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  transition: 0.5s ease-in-out;
}

section .card:hover .imgBox {
  transform: translateY(-100px);
}

section .card .imgBox img {
  height: 220px;
  max-width: 100%;
  margin: 0 0 20px;
  transition: 0.5s ease-in-out;
}

section .card:hover .imgBox img {
  transform: translateY(-40px) scale(1.4);
}

section .card .imgBox h1 {
  color: #ffffff;
  font-weight: 600;
  text-align: center;
}

section .card .content {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
  width: 100%;
}

section .card:hover .content {
  opacity: 1;
  visibility: visible;
  transform: translateY(-50px);
}

section .card .content .size,
section .card .content .color,
section .card .content .type {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  width: 100%;
}

section .card .content h3 {
  color: #ffffff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

section .card .content a:hover {
  background: #68b984;
}

section .card .content .color .color-picker {
  width: 1rem;
  height: 1rem;
  background: #fff;
  border-radius: 50%;
  margin: 0 5px;
  border: 2px solid #fff;
  box-sizing: border-box;
  cursor: pointer;
}

section .card .content .type .type-picker {
  color: #000000;
  background: #ffffff;
  margin: 0 5px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  border-radius: 25px;
  padding: 4px 8px;
  transition: 0.5s ease-in-out;
}

section .card .content .type .type-picker:hover {
  background: #68b984;
}

#kmax-steel,
#travel-grey,
#shissel-grey {
  background: #a8a8a5;
}

#kmax-black,
#travel-black {
  background: #000000;
}

#kmax-blue,
#gloves-blue,
#shissel-blue,
#shabtooth-blue,
#weektooth-blue, #shroom-blue {
  background: #090b88;
}
#kmax-bronze {
  background: #422f07;
}

#kmax-brown,
#travel-brown {
  background: #472407;
}

#kmax-marble {
  background: #5f3600;
}
#kmax-cherry {
  background: #851a0c;
}
#kmax-ivory {
  background: #a89879;
}

#kmax-pink,
#shissel-pink, #shroom-pink {
  background: #f199d7;
}

#gloves-red,
#shabtooth-red,
#weektooth-red, #shroom-red {
  background: #fd0505;
}

#shissel-beige {
  background: #e8d08a;
}

#shabtooth-purple {
  background: #880959;
}

#shabtooth-yellow,
#weektooth-yellow {
  background: #dfd80f;
}

#kmax-green, #weektooth-green {
  background: rgb(37, 198, 12);
}

#kosher-clock {
  height: 150px;
}

section .card .content a {
  position: relative;
  top: 10px;
  display: inline-block;
  padding: 12px 30px;
  background: #fff;
  border-radius: 40px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #111;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}

/* about section */

#about {
  align-items: flex-start;
  justify-content: center;
  background: #f51010;
  padding-top: 0;
}

/* #ki-logo {
  position: absolute;
  top: 30vh;
  left: 0;
  width: 100%;
  height: 50%;
} */

#about #about-us {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

#about h1 {
  text-align: center;
}

#about h1 span {
  font-size: 120px;
  color: #ffffff;
}


.down-arrow {
  width: 85px;
}

